.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: gold;
}

.messages {
  padding: 10px;
  text-align: center;
}

.messages p {
  padding: 10px;
  text-align: right;
}

.img1 {
  width: 60px;
  height: 60px;
  border-radius: 30%;
}

.circle {
  width: 20px;
  height: 20px;
  background: blue;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
